/* external styling for (activity)index.html.*/

p {
    font-size: 22px;
    color: black;
}

* {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#jslogo {
    width: 200px;
    border-radius: 150%;
}

.tywlearn {
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
    color: black;
}

[title] {
    color: black;
}

h3+.langTobeLearned {
    background-color: aquamarine;
}

#toolsToBeUsed>li {
    border: 1px black solid;
}

h1~p {
    font-size: large;
}

section section #toBeLearned {
    letter-spacing: 5px;
    list-style-type: none;
    padding-left: 100px;
}

.messge {
    text-align: center;
}